# Ignore Gradle project-specific cache directory
/.gradle

# Ignore Gradle build output directory
build

/.vscode

/app/bin

app/src/main/java/system/classfixer/classes/

logs
tools

app/src/test/java